site_name: "Hello World"
site_author: Mingmin Yu
site_description: Hello World
site_url: "https://mingminyu.github.io"
# use_directory_urls: false

# repo_name: mingminyu/mingminyu.github.io
# repo_url: https://github.com/mingminyu/mingminyu.github.io

copyright: Copyright &copy; 2024, Mingmin Yu

theme:
  font: false
  name: material
  custom_dir: overrides
  features:
    - announce.dismiss
    - content.code.annotate
    - content.code.copy
    - content.code.select
    - content.tooltips
    - content.tabs.link
    - content.footnote.tooltips
    - navigation.instant
    - navigation.instant.progress
    - navigation.instant.prefetch
    # - navigation.prune
    - navigation.footer
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.indexes
    # - navigation.sections
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: 暗黑模式
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: 明亮模式

  favicon: assets/logo.svg
  logo: assets/logo.svg

  language: zh

plugins:
  - blog:
      blog_toc: true
      post_date_format: short
      post_url_date_format: yyyy/MM/dd
      # post_url_format: "{categories}/{slug}"
      post_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
      post_excerpt_max_authors: 2
      archive: false
      # archive_toc: false
      categories_toc: true
      categories_slugify_separator: _
      categories_url_format: "{slug}"
      categories_slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
      pagination_per_page: 10
      pagination_url_format: "page/{page}"
      pagination_format: "~2~"
      pagination_if_single_page: false
      pagination_keep_content: true

  - tags
  - search
  - awesome-nav
  - mkdocs-video
  # - offline
  - tags:
      enabled: true
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: true
      caption_position: bottom
      background: white
      shadow: true
      manual: false

extra:
  generator: false
  scope: /

extra_javascript:
  - assets/javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

extra_css:
  - assets/stylesheets/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css

markdown_extensions:
  - abbr
  - tables
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.critic
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.tilde
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      options:
        custom_icons:
          - overrides/.icons
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: squidfunk
      repo: mkdocs-material
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true

# nav:



#       - 工具库: 
#         - backend/python/tools/index.md


#           - DBT Cloud: backend/python/tools/dbt-cloud/index.md


#   - 数据库: 
#     - databases/index.md
#     - 消息队列: databases/mq/mq-base.md
#     - Hive:
#       - databases/hive/index.md
#       - 运算符和函数:
#         - 内置函数:
#           - 日期函数: databases/hive/functions/built-in-functions/date-functions.md
#           - 条件函数: databases/hive/functions/built-in-functions/conditional-functions.md
#           - 字符串函数: databases/hive/functions/built-in-functions/string-functions.md
#         - 聚合函数: databases/hive/functions/built-in-functions/aggregate-functions.md
  

  
#   - 人工智能: 
#     - ai/index.md
#     - 机器学习:
#       - ai/machine-learning/index.md
#       - 迁移学习: ai/machine-learning/transfer-learning.md
#       # - 感知机:
#       # - SVM:
#       # - 逻辑回归:
#       # - 决策树:

#     - 深度学习:
#       - ai/deep-learning/index.md
#       - 基础内容:
#         - Attention: ai/deep-learning/attention.md
#         # - CNN:
#         # - RNN:
#         # - LSTM:
#         # - 变分自编码器:
#         # - 生成式对抗网络: 
#         # - Transformer:
#         # - 扩散模型:
#         # - 多模态模型:

#     - 图像处理:
#       - ai/cv/index.md

#     - 语音处理:
#       - ai/speech/index.md
#       - FunASR:

    
#     - AI 工具: ai/tools.md


